
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #bf7aff;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

/*********************************************************************/
/**                          Milestone 1                            **/
/*********************************************************************/

#login-bubble {
    background-color: white;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

#signup-bubble {
    background-color: white;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

#error-popup {
    background-color: white;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

#error-msg {
    color: red;
}

/** Important Colours */
/* For login,signup and top-row background: #bf7aff */
/* For mainpage background: #dcb7ff */

/*********************************************************************/
/**                          Milestone 2                            **/
/*********************************************************************/

#slackr-mainpage {
    background-color: #bf7aff;
    display: flex;
}

#main-top-row {
    display: inline;
    justify-content: space-around;
    width: 100vw;
}

#buttons-and-links-at-end {
    display: flex;
    justify-content: flex-end;
}

#signout-button {
    float: right;
}

#main-bottom-content {
    display: flex;
    /* flex-direction: row; */
}

#channels-list {
    background-color: #dcb7ff;
    width: 20vw;
}

#channel-screen {
    background-color: white;
    width: 80vw;
    padding-left: 7px;
    padding-right: 7px;
}

.tab {
    padding-top: 5px;
    padding-bottom: 5px;
}

.tab:hover {
    background-color: #e9daf8;
}

.channels-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.channels-tab-active {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #5b4b6a;
}

.tab-label {
    font-size: 1em;
    margin: 0 0 0 0;
}

.tab-label-active {
    font-size: 1em;
    margin: 0 0 0 0;
    color: white;
}

#new-channel-bubble {
    background: white;
    width: 80vw;
    padding: 7px;
}