
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #bf7aff;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

#login-bubble {
    background-color: white;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

#signup-bubble {
    background-color: white;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

#error-popup {
    background-color: white;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

#error-msg {
    color: red;
}

#slackr-mainpage {
    background-color: #bf7aff;
    display: flex;
}

#main-top-row {
    display: inline;
    justify-content: space-around;
    width: 100vw;
}

#buttons-and-links-at-end {
    display: flex;
    justify-content: flex-end;
}

#signout-button {
    float: right;
}

#main-bottom-content {
    display: flex;
    /* flex-direction: row; */
}

#channels-list {
    background-color: #dcb7ff;
    width: 10vw;
}

#channel-screen {
    background-color: white;
    width: 90vw;
}

/** Important Colours */
/* For login,signup and top-row background: #bf7aff */
/* For mainpage background: #dcb7ff */