
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #bf7aff;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

button, #new-channel-priv-status, .tab {
    cursor: pointer
}

button:disabled {
    cursor: auto;
}

/*********************************************************************/
/**                          Milestone 1                            **/
/*********************************************************************/

#login-bubble {
    background-color: white;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

#signup-bubble {
    background-color: white;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

#error-popup {
    background-color: white;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

#error-msg {
    color: red;
}

/** Important Colours */
/* For login,signup and top-row background: #bf7aff */
/* For mainpage background: #dcb7ff */

/*********************************************************************/
/**                          Milestone 2                            **/
/*********************************************************************/

#slackr-mainpage {
    background-color: #bf7aff;
    display: flex;
}

#main-top-row {
    display: inline;
    justify-content: space-around;
    width: 100vw;
}

#buttons-and-links-at-end {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3px;
}

#signout-button {
    float: right;
}

#main-bottom-content {
    display: flex;
    background-color: white;
    /* flex-direction: row; */
    outline: purple solid 2px;
}

#channels-list {
    background-color: #dcb7ff;
    width: 20vw;
    border-right: purple solid 2px;
}

.tab {
    padding-top: 5px;
    padding-bottom: 5px;
}

.tab:hover {
    background-color: #e9daf8;
}

.channels-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.channels-tab-active {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #5b4b6a;
}

.tab-label {
    font-size: 1em;
    margin: 0 0 0 0;
}

.tab-label-active {
    font-size: 1em;
    margin: 0 0 0 0;
    color: white;
}

#create-channel-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#channel-screen {
    background-color: white;
    width: 80vw;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#channel-heading-wrapper {
    outline: 2px solid black;
    padding-left: 3px;
}

.channel-name {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.channel-desc {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#channel-messages {
    outline: 1px solid gray;
}

#message-box-area {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    height: max-content;
}

#message-box {
    /* position: absolute; */
    resize: none;
    width: 100%;
}

#send-msg-button {
    display: block;
    /* position: absolute; */
    height: 51px;
    width: fit-content;
}

#new-channel-bubble {
    background: white;
    width: 80vw;
    padding: 7px;
}

/*********************************************************************/
/**                          Milestone 3                            **/
/*********************************************************************/

#channel-messages {
    height: 45vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: visible;
}

#pagination-navi {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-indicator {
    text-align: center;
}

.msg-page {
    flex-direction: column;
}

.msg-bubble {
    display: flex;
    flex-direction: column;
    outline: 1px solid gray;
    width: 100%;
}

.msg-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 120%;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.sender-dp {
    margin: 0 0 0 0.4em;
    /* height: 40px; */
}

.sender-name {
    margin: 0 10px 0 10px;
}

.sent-time {
    margin: 0;
}

.msg-itself {
    margin: 0.3em 1em 1em 1em;
}